In [2]:
from sqlalchemy import create_engine, text
pg = create_engine("postgresql+psycopg2://postgres:postgres@postgres/ejemplo_db")

with pg.begin() as conn:
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

[(1, 'texto impar'), (3, 'texto impar')]

In [3]:
with pg.begin() as conn:
    conn.execute(text("INSERT INTO ejemplo (texto) values ('texto 3')"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

[(1, 'texto impar'), (3, 'texto impar'), (4, 'texto 3')]

In [ ]:
with pg.begin() as conn:
    conn.execute(text("update ejemplo set texto = 'texto impar' where id % 2 = 1"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

In [ ]:
with pg.begin() as conn:
    conn.execute(text("delete from ejemplo where id % 2 = 0"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

In [4]:
with pg.begin() as conn:
    conn.execute(text("ALTER TABLE ejemplo SET UNLOGGED"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

[(1, 'texto impar'), (3, 'texto impar'), (4, 'texto 3')]

In [5]:
with pg.begin() as conn:
    conn.execute(text("INSERT INTO ejemplo (texto) values ('texto sin log!')"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

[(1, 'texto impar'), (3, 'texto impar'), (4, 'texto 3'), (5, 'texto sin log!')]

In [ ]:
with pg.begin() as conn:
    conn.execute(text("ALTER TABLE ejemplo SET LOGGED"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

In [ ]:
with pg.begin() as conn:
    conn.execute(text("INSERT INTO ejemplo (texto) values ('texto con log!')"))
    print(conn.execute(text("""select * from ejemplo""")).fetchall())

[(1, 'texto impar'), (3, 'texto impar'), (4, 'texto 3'), (5, 'texto sin log!')]
[(1, 'texto impar'), (3, 'texto impar'), (4, 'texto 3'), (5, 'texto sin log!'), (6, 'texto con log!')]